<script type="text/javascript">
  var generateSignature = function(callback, params_to_sign){
    $.ajax({
      url     : "<%= posts_generate_signature_path %>", // Route to the Script Controller method
      type    : "GET",
      dataType: "text",
      data    : { data: params_to_sign}, // This goes to Controller in params hash, i.e. params[:file_name]
      complete: function() {console.log("complete")},
      success : function(signature, textStatus, xhr) { callback(signature); },
      error   : function(xhr, status, error) { console.log(xhr, status, error); }
    });
  }
</script>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <div id="upload_widget_opener"></div>

    
          
    <script type="text/javascript">  
      $('#upload_widget_opener').cloudinary_upload_widget(
        { cloud_name: '<%= Cloudinary::config.cloud_name %>', api_key: "<%= Cloudinary::config.api_key %>",
          cropping: 'server', 'folder': 'post_photos', button_class:'myButton', theme:'minimal',
          field_name: 'post[image]', min_image_width: 100, min_image_height: 100, cropping_validate_dimensions: true, upload_signature: generateSignature, max_chunk_size: 6000000, cropping_show_dimensions: true },
        function(error, result) { console.log(error, result) });
    </script>
  </div>
</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
